@import url('https://fonts.googleapis.com/css2?family=Meie+Script&family=Montserrat:wght@700&family=Open+Sans&family=Raleway&family=Roboto+Mono:ital,wght@1,100&display=swap');
body{
    background-color: #9d9570;
}
.container{
    width: 100%;
    max-width: 370px;
    padding: 25px 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.epanoui-img-style{
    width: 13%;
    min-width: 150px;
}
.image-paragraph-posi{
    text-align: center;
    padding-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 20px;

}
  
.container1{
    padding-bottom: 10px;
}
.booking-form{
    padding-bottom: 20px;
}
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"] {
    width: 93%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #292d33;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button[type="submit"]:hover {
    background-color: white;
    color: black;
  }
.last-container{
    text-align: center; 
    font-family: 'Raleway', sans-serif;
}
