@import url('https://fonts.googleapis.com/css2?family=Meie+Script&family=Montserrat:wght@700&family=Open+Sans&family=Roboto+Mono:ital,wght@1,100&display=swap');
@media (max-width: 575px)
  {.sec1{height: 1132px;}
    .back-color1{min-height: 2430px;}
    .back-color2{min-height: 1700px;}
    .back-color3{min-height: 1106px;}
    .box-size2{width: 340px;
        height: 193px;   }
             
    }
  

body{
     margin: 0;
     padding: 0;
    }

.back-color1{
    height: 1046px;
    width: 100%;
    background-color:#9d9570 ;
}
 .sec1{
      height: 519px;
        width: 100%;
        background-color: #292d33;        
} 
.image-h2{
    display: flex;
    justify-content: space-around;
    height: 300px;
}

.epanoui-img-style{
    height: 220px; 
    width: 250px;
    cursor: pointer;
    
}
.paragraph1-style{
    color: white;
    margin-top: 85px;
    margin-bottom: 350px;
    font-family: Robot Mono;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
}

.sec2{
    
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
    
}
.box-size1{
    height: 320px;
    width: 340px;
    border-radius: 20px;
    border-color: #9d9570;
    position: relative;
    overflow: hidden;
    
    
}

.box-size1 img {
    transition: transform 0.5s ease;
  }
  
.box-size1:hover img {
    transform: scale(1.1);
    cursor: pointer;
  }
  








  /* part 2*/

.back-color2{
    padding-top: 80px;
    height: 900px;
    width: 100%;
    background-color: black;
}
.container1{
     max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container-box1{
    height: 809px;
    width: 570px;
    padding: 30px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-box2{
    
    width: 45%;
    padding: 40px 15px 0 0;
    background-color: black;
}
.why-us{
    color: white;
    font-size: 48px;
    font-family: open sans;
    font-weight: 700;
    margin: 0 ;
    
}
.paragraph2-style{
    color: white;
    font-size: 24px;
    font-family: open sans;
    font-weight: 700;
    margin: 35px 0 0;;
    line-height: 2;
}
.paragraph3-style{
    color: white;
    font-size: 20px;
    margin: 20px 0 0 0;
    font-family: open sans;
    font-weight: 300;
    line-height: 2.2;
}
.learn-more-button {
     display: inline-block; 
    background-color:#9d9570;
    color: black;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    font-family: open sans;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 35px auto 0 0;
    padding: 10px 31px 10px 30px;
  }
  
.learn-more-button:hover {
    background-color: white;
  }








  /* PART 3 */

.back-color3{
    height: 700px;
    width: 100%;
    background-color: white;
    padding-top: 50px;
  }
.container2{
    max-width: 1200px; 

    margin: 0 auto ;
}
.title2{
    text-align: center;
    margin-bottom: 0;
    font-size: 36px;
    color: black;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: 1.1;
}
.container3{
     max-width: 1200px; 
    
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box-size2{
    height: 375px;
    width: 270px;
   background-size: cover;
   background-position: center;
   border-radius: 7px;
    filter: brightness(0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
#haircut-img{
    background-image: url('./images/haircut7.png');
}
#beard-img{
    background-image: url('./images/haircut8.png');
}
#shaving-img{
    background-image: url('./images/shaving.png');
}
#razer-blade-img{
    background-image: url('./images/razer-blade.png');
}
.button-layout{
    display: inline-block;
    margin: 0 auto;
    padding: 15px 40px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: open sans;

}
.button-layout:hover{
    background-color:#9d9570 ;
    cursor: pointer;
    color: white;
}








/*Part 4*/

.back-color4{
    
    height: 900px;
    background-image: url('./images/last-theme.png');
    background-position: 50% 50%;
}
.sec-layout{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    
}
.appointement-block{
    width: 550px;
    height: 500px;
    margin: 123px 0 123px auto;
    border-color: #a0c6b9;
    border-width: 20px;
    border-style: solid;
}

.container4{
    display: flex;
    padding: 20px 30px;
    flex-direction: column;
    justify-content: center; 
    
}

.title3{
    color: white;
    font-size: 3rem;
    font-family: montserrat;
    margin: 18px 0;
}
.paragraph4-style{
    color: white;
    font-family: open sans;
    line-height: 2;
    font-size: 1rem;
    margin-top: 0px;

}
.book-button{
    display: inline-block; 
    background-color:black;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: open sans;
    text-transform: uppercase;
    margin: 30px auto 0 0;
    padding: 16px 47px;
    letter-spacing: 3px;
    background-image: none;
    border-style: solid;
    font-weight: 500;
}
.book-button:hover {
    background-color: white;
    color: black;
  }




/* PART 5 */

.footer-style{
    height: 550px;
    background-color: black;
}
.footer-layout{
    max-width: 90%;
    margin: 0 auto;
}
.title4{
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: 1.1;
}
.subscription-form {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 50px;
  }
  
  #email-input {
    padding: 10px 100px;
    font-size: 16px;
    border-start-start-radius: 20px;
    border: 1px solid #ccc;
    background-color: #292d33;
  }

  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #9d9570;
    color: white;
    border-end-end-radius: 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: white;
    color: black;
  }

.footer-list1,.footer-list2{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 4%;
}
.list1-style{
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-family: open sans;
    font-weight: 400;
    
}
.list2-style{
    color: #ccc;
    font-size: 1rem ;
    font-family: Montserrat ;
}

.picture-layout{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.box{
    width: 30px;
    height: 30px;
    cursor: pointer;
}





